@import './variables.scss';

@mixin h1 {
  margin: 0;
  font-size: 1.875rem;
  line-height: 2.125rem;
  font-weight: 600;
  color: $color-font-primary;
}

@mixin h2 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $color-font-primary;
  font-weight: 600;
}

@mixin h3 {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: $color-font-primary;
  font-weight: 600;
}

@mixin p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $color-font-primary;
}

@mixin a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin form {
  display: flex;
  flex-direction: column;
}

@mixin input {
  border: 1px solid $color-input-border;
  padding: 0.5rem;
  font-size: 1rem;
  color: $color-font-primary;
  border-radius: 2px;
}
