@import './variables.scss';

@mixin h1 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: $color-font-primary;
}

@mixin h2 {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: $color-font-primary;
  font-weight: 600;
}
