/********* Fonts *********/
$font-primary: 'Heebo', sans-serif;

/********* Colors *********/
$color-font-primary: #2d3030;
$color-font-subtle: #595f5f;
$color-primary: #00b1b1;
$color-page-background: #e8f7f6;
$color-font-contrast: #ffffff;
$color-modal-background: #ffffff;
$color-modal-overlay: rgba(28, 36, 36, 0.6);
$color-modal-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
$color-input-border: #dddddd;
$color-error: #c90000;
$color-card-background: #ffffff;
